body {
    background-color: #524d52;
    color:rgb(253, 243, 243)
  }
  
  h1 {
    color: rgb(253, 243, 243);
    text-align: center;
  }
  
  p {
    color: black;
    font-family: Verdana;
    font-size: 20px;
    text-align:center;

  }
  #refrao {
    color: black;
    text-align: left;
  }
    .versos{
        color: aliceblue;
    }
